body {
    padding-top: 80px;
}

.container > div {
    margin-bottom: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact {
    display: inline-block;
    padding: 8px 14px;
    margin-bottom: 8px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.tommy {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

