body {
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #fafafa;
}

h1{
    font-weight: 700;
    margin-bottom: 32px;
}

h3, h4 {
    font-weight: 700;
    margin-bottom: 30px;
}

.container > div {
    margin-bottom: 80px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact {
    display: inline-block;
    padding: 8px 14px;
    margin-bottom: 8px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.tommy-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.number-wrapper {
    display: inline-block;
    border-bottom: 5px solid black;
}

.number {
    font-size: 30px;
    font-weight: bold;
}

.number-small-wrapper {
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 3px solid black;
}

.number-small {
    font-size: 18px;
    padding-bottom: 10px;
}

.skill-name {
    margin-left: 26px;
}

.material-icons {
    padding: 15px;
    border: 1.5px solid black;
    border-radius: 50%;
    font-size: 50px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}

.speciality {
    color: #b8b8b8;
}

.education > .row {
    margin-bottom: 26px;
}

/* Timeline */
.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    border-left: 2px solid rgba(0, 0, 0, 0.3);
  }
  .timeline-item p {
    font-size: 1rem;
  }
  .timeline-item::before {
    color: #b8b8b8;
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .785rem;
  }
  .timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
  }
  .timeline-item:last-child {
    -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
       border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
  }

  .fact {
      font-weight: normal;
      margin-bottom: 37px;
  }